{% extends "webapp/base.html" %}
{% block body %}
<h2>Forum</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
  Novo Forum
</button>
  <p></p>
{% for forum in foruns %}
	{% if forum.aberto == 1 or forum.owner == perfil_logado%}
<div class="card">
  <div class="card-header">
    {{  forum.titulo}}
  </div>
  <div class="card-body">
  	<p class="card-text">{{forum.descricao}}</p>
    <p class="card-text">{{forum.owner}}</p>
    <table style="border: 0"> 
    {% for resposta in forum.respostas.all %}
    	{% if perfil_logado == resposta.owner %}
    	<tr><td>{{resposta.owner}}:</td><td></td><td>{{resposta.conteudo}}</td>
    	<td><a href=""class="badge badge-danger" data-toggle="modal" data-target="#delete{{resposta.id}}">Apagar</a></td>
    	<td><a href=""class="badge badge-success" data-toggle="modal" data-target="#edit{{resposta.id}}">Editar</a></td>
    	</tr>  
    	<!--MODAL DELETE RESPOSTA-->
    	<div class="modal fade" id="delete{{resposta.id}}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="TituloModalCentralizado">Deseja mesmo apagar essa resposta?</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<p>Essa ação não poderar ser defeita!</p>
		        <form action="{% url 'resposta_delete' resposta.id %}" method="POST" accept-charset="utf-8">
		        	{% csrf_token %}

					<button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
		        <button type="submit" class="btn btn-danger">Apagar</button>
		        </form>
		      </div>
		    </div>
		  </div>
		</div>

    	<!--MODAL EDIT RESPOSTA-->
    	<div class="modal fade" id="edit{{ resposta.id }}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="TituloModalCentralizado">Editar resposta</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form action="{% url 'resposta_edit' resposta.id %}" method="POST" accept-charset="utf-8">
		        	{% csrf_token %}
		        	<div class="form-group">
						<label>Conteúdo</label>
							<input type="text" class="form-control" name="conteudo" value="{{resposta.conteudo}}" required>
					</div>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
		        <button type="submit" class="btn btn-primary">Editar</button>
		        </form>
		      </div>
		      <div class="modal-footer">
		        
		      </div>
		    </div>
		  </div>
		</div>

    	{% else %}

    	{% endif %}
	{% endfor %}
    </table>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#forum{{ forum.id }}">
  		Responder
	</button>
	<a href="{% url 'forum_detail' forum.id %}" class="btn btn-success">Detalhes</a>
  </div>
</div>
<hr>
	<div class="modal fade" id="forum{{ forum.id }}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form action="{% url 'resposta_forum' forum.id %}" method="POST" accept-charset="utf-8">
	        	{% csrf_token %}
	        	<div class="form-group">
					<label>Sua resposta</label>
						<input type="text" class="form-control" name="conteudo" required>
				</div>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	        <button type="submit" class="btn btn-primary">Responder</button>
	        </form>
	      </div>
	      <div class="modal-footer">
	        
	      </div>
	    </div>
	  </div>
	</div>
{% endif %}
{% endfor %}

<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Pergunte no forum</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'newforum' %}" method="POST" accept-charset="utf-8">
        	{% csrf_token %}
        	<div class="form-group">
				<label>Titulo</label>
					<input type="text" class="form-control" name="titulo" required>
			</div>
        	<div class="form-group">
				<label>Conteúdo</label>
					<input type="text" class="form-control" name="descricao" required>
			</div>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Criar forum</button>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

{% endblock %}