{% extends "webapp/base.html" %}
{% block body %}
<h2>Novo projeto</h2>
<form action="{% url 'add' %}"  method="POST" class="col-md-10">
	{% csrf_token %}
	<div class="form-group">
		<label>Nome do Projeto</label>
			<input type="text" class="form-control" name="nome" required>
	</div>
	<div class="form-group">
		<label>Inicio</label>
			<input type="date" class="form-control" name="data_inicio" required>
	</div>
	<div class="form-group">
		<label>Entrega</label>
			<input type="date" class="form-control" name="previsao_entrega" required>
	</div>
	<div class="form-group">
		<label>Data do contrato</label>
			<input type="date" class="form-control" name="data_contrato" required>
	</div>
	<div class="form-group">
		<label>Interessado</label>
			<select name="interessado_id" class="form-control">
			  {% for interessado in interessados %}
			  
			  <option value="{{interessado.id}}">{{interessado.username}}</option> 
			  {% endfor %}
			  
			</select>
	</div>
	<div class="form-group">
		<button class="btn btn-lg btn-primary btn-block" type="subimit">Criar</button>
	</div>
</form>

{% endblock %}
