{% extends "usuarios/base_usuario.html" %}

{% block body %}
	
	<form action="{% url 'login' %}" class="form-signin" role="form" method="post">
		{% csrf_token %}
		<h2 class="form-signin-heading">Login</h2>

		<input type="text" class="form-control" id="id_username" name="username" placeholder="Nome de Usuário" required autofocus>

		<input type="password" class="form-control" id="id_password" name="password" placeholder="Senha" required>
		<p style="text-align: right"><a href="{% url 'reset_password' %}">Esqueci minha senha</a></p>
		
		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Login</button>

		<input type="hidden" name="next" value="{{ next }}">

		{% if form.errors %}
			<div class="alert alert-danger">
				<button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button>
				Por favor, verifique o Usuaário e/ou Senha informados!
			</div>
		{% endif %}

		<a href="{% url 'registrar' %}">Cadastrar</a>
	</form>

{% endblock %}